*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: #282c34;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main-content {
  align-content: center;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
}

.main-layout {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-logo {
  margin-bottom: 1rem;
  width: 8rem;
}


nav {
  background-color: #363a45;
  height: 100vh;
  overflow-y: auto;
  padding-block: 1rem;
  text-align: center;
  width: 250px;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: grey;
  transition: all .3s ease-out;
}
